/* src/styles/meyer.css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* src/styles/layout.css */
html,
body,
#root {
  width: 100%;
  height: 100%;
}
.layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.layout > .navigation {
  flex-basis: 250px;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: auto;
}
.layout > .navigation > a {
  display: block;
  text-decoration: none;
}
.layout > .content {
  height: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  color: white;
  overflow: hidden;
}
.layout > .content > * {
  position: absolute;
  max-width: 100%;
}
a.source-code-link {
  position: absolute;
  right: 10px;
  top: 10px;
  display: inline-block;
  padding: 10px 5px;
  border-radius: 3px;
  background-color: white;
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}
canvas {
  z-index: 0;
}
canvas ~ * {
  z-index: 1;
}
h1 {
  width: 100%;
  font-size: 18px;
  top: 10px;
  text-align: center;
}

/* src/styles/controls-block.css */
.controls-block {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.controls-block > p {
  width: 100%;
}

/* src/ObjectEditor/styles/layout.css */
.object-editor {
  --tools-background: #393939;
  --tools-outline: #097076;
  --tools-text-color: #b7b7b7;
  --toolbar-size: 25px;
}
.object-editor {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: var(--tools-text-color);
}
.object-editor > * {
  width: 100%;
}
.object-editor > .toolbar {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: var(--toolbar-size);
  max-height: var(--toolbar-size);
  background-color: var(--tools-background);
  outline: 1px solid var(--tools-outline);
  z-index: 2;
  overflow: visible;
}
.object-editor > .main {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: row;
  z-index: 1;
}
.object-editor > .main > * {
  width: 100%;
}
.object-editor > .main > .sidebar {
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #393939;
  order: 0;
  z-index: 1;
  position: relative;
  max-height: calc(100vh - var(--toolbar-size) - var(--toolbar-size));
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.object-editor > .main > .sidebar > * {
  width: 100%;
  max-width: 100%;
}
.object-editor > .main > .sidebar > .sidebar-toolbar {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: var(--toolbar-size);
  max-height: var(--toolbar-size);
  outline: 1px solid var(--tools-outline);
}
.object-editor > .main > .sidebar > .sidebar-content {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
}
.object-editor > .main > .separator {
  flex-basis: 5px;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: var(--tools-outline);
  order: 1;
  cursor: col-resize;
  z-index: 0;
}
.object-editor > .main > .content {
  flex-grow: 1;
  flex-shrink: 1;
  background-color: var(--tools-background);
  order: 2;
  position: relative;
  z-index: 0;
}
.object-editor > .main > .separator:hover ~ *,
.object-editor > .main > .separator:active ~ * {
  pointer-events: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.object-editor > .main > .content > * {
  position: absolute;
}
.object-editor > .main > .content > .editor-canvas {
  width: 100%;
  height: 100%;
  z-index: 0;
}
.object-editor > .main > .content > .editor-canvas ~ * {
  z-index: 1;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.clear {
  clear: both;
}
.tree-branch {
  height: 2em;
}
.tree-branch:hover {
  background-color: #555555;
}
.object-editor button,
.object-editor input,
.object-editor select {
  font-size: 16px;
  line-height: 16px;
  height: 22px;
  border-radius: 11px;
  background-color: var(--tools-outline);
  color: white;
}
.object-editor button {
  cursor: pointer;
}

/* src/ObjectEditor/editor.css */

/* src/index.entry.css */
/*# sourceMappingURL=index.entry.css.map */
