body {
	background-color: black;
	color: white;
}

.nowrap { white-space:nowrap; }

a {
	text-decoration: none;
	color:  grey;
}

a:hover {
	color:  lightgray;
}

a:active {
	color:  white;
}

canvas { border: 1px solid lightblue; }

div.info {
	position:  absolute;
	right:  50px;
	top:  0px;
}


div.links-block {
	position:  fixed;
	bottom:    20px;
	right:     20px;
}

div.links-block a {
	background-color:  white;
}